body {
    background-color: gray;
}

h1 {
    text-align: center;
}

.popup {
    border: black solid 1px;
    background-color: black;
    color: white;
}

.tile {
    border: 2px solid darkslategray;
    display: flex;
    padding: 30px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-transform: uppercase;
    margin: 5%;
}

.tile-correct {
    background-color: #2aad42;
}

.tile-rightWord {
    background-color: #bfab36;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.board-row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
}

#last-row {
    margin-bottom: 20px;
}

.kb-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.key {
    border: aliceblue solid 1px;
    border-radius: 20%;
    color: aliceblue;
    background-color: black;
    padding: 15px;
    margin: 2px;
}

.row {
    margin-bottom: 5px;
    display: flex;
    align-items: stretch;
}

.replay {
    visibility: hidden;
    border: black solid 1px;
    border-radius: 15%;
}

